*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
   font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif;
}

a {
   text-decoration: none;
   color: #fff;
}

ul {
   list-style: none;
}